* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #e5e5e5;
    margin: 0;
}

header {
    background-color: white;
    padding: 32px 64px;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 0;
}

h3 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

h1 span {
    font-weight: bold;
}

p {
    color: rgba(48, 46, 46, 0.6);
    margin: 0;
}

.profissao {
    font-size: 24px;
    color: rgba(48, 46, 46, 0.6);
}

.foto {
    height: 350px;
    width: 320px;
    background: url('img/foto.png') center center;
    background-size: cover;
    border: 4px solid #dbba43;
    border-radius: 50%;
    margin-bottom: -180px;
    margin-right: 24px;
}

.dados {
    display: inline-block;
    position: relative;
    left: 350px;
}

main {
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
}

.coluna-menor {
    margin-top: 48px;
    width: 29%;
    padding-right: 1%;
}

.linha {
    width: 80px;
    border-top: 2px solid;
    margin-top: 8px;
}

.amarela {
    border-color: #dbba43;
}

.azul {
    border-color: #4200ff;
}

.coluna-menor img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}

.coluna-menor li {
    margin-top: 32px;
}

.conteudo {
    display: inline-block;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.formacao {
    margin-top: 50px;
}

.coluna-maior h2 {
    font-size: 42px;
    margin: 30px 5px;
}

.coluna-maior {
    width: 70%;
}

.conhecimento {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    margin: 30px;
    width: 30%;
}

.conhecimento h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.conhecimento p {
    font-size: 20px;
}

.progresso {
    width: 100%;
    display: flex;
}

.barra {
    width: 20%;
    height: 5px;
    background-color: blue;
    margin-top: 8px;
}

.incompleto {
    opacity: 0.2;
}

.conhecimento li {
    margin-top: 24px;
}

.conhecimento li:first-child {
    margin-top: 0;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
}
.projeto{
    width: 30%;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    margin: 12px;
}

.projeto h3{
    font-size: 24px;
    font-weight: bold;
}

.projeto p{
    margin-top: 16px;
    margin-bottom: 24px;
    height: 110px;
}

.projeto a,
.btn-default {
    display: inline-block;
    text-decoration: none;
    background-color: #2c1669;
    color: white;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
    transition: all .2s ease;
}

.projeto a:hover,
.btn-default:hover {
    opacity: .9;
}

footer{
    display: flex;
    background-color: #14004d;
    justify-content: center;
    color: white;
    padding: 50px;
    text-align: center;
}

footer img{
    width: 50px;
    height: 50px;
    margin-right: 80px;
}